<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MiniApp</a>
    <div class="" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/students" routerLinkActive="active-link">Students</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/subjects_marks" routerLinkActive="active-link">Subjects & Marks</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
