<section class="container-fluid p-5">
  <form>
    <div class="mb-3">
      <label for="grade_id" class="form-label">Grade ID</label>
      <input type="number" class="form-control" id="grade_id">
    </div>
    <div class="mb-3">
      <label for="student_id" class="form-label">Student ID</label>
      <input type="number" class="form-control" id="student_id">
    </div>
    <div class="mb-3">
      <label for="subject_id" class="form-label">Subject ID</label>
      <input type="number" class="form-control" id="subject_id">
    </div>
    <div class="mb-3">
      <label for="date" class="form-label">Date</label>
      <input type="number" class="form-control" id="date">
    </div>
    <div class="mb-3">
      <label for="grade" class="form-label">Grade</label>
      <input type="number" class="form-control" id="grade">
    </div>
    <div class="d-flex justify-content-center p-3">
      <button type="" class="btn btn-primary mx-2">Average Grade</button>
      <button type="" class="btn btn-primary mx-2">Enrollment Info</button>
      <button type="" class="btn btn-primary mx-2">Subjects Taught</button>
    </div>
  </form>
</section>
